<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="firest_nav_btns d-flex gap-3">
        <button (click)="redirect1()" type="button" class="btn btn-outline-secondary">Admin</button>
        <button (click)="redirect2()" type="button" class="btn btn-outline-secondary">User</button>
        <button (click)="redirect3()" type="button" class="btn btn-outline-secondary">Log in</button>

      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link"  [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active_link" routerLink="home">Home</a>
            </li>

          <li class="nav-item">
            <a class="nav-link"  routerLinkActive="active_link" routerLink="product">product</a>
        </li>
        </ul>

      </div>
    </div>
  </nav>