  

<div class="container  mx-auto">

  <div class="row allproduct_container my-4">



    <div class="col-9">
      <div class="row gap-4 my-3 justify-content-center allproduct ">
        
    
        <div class="col-10 col-xxl-3 col-xl-3 col-md-5 product_data p-3">
          <div class="product_img">
            <img
              class="w-100"
              src="https://media.istockphoto.com/id/1436061606/photo/flying-colorful-womens-sneaker-isolated-on-white-background-fashionable-stylish-sports-shoe.jpg?b=1&s=612x612&w=0&k=20&c=0HNmSNlbRt-6S0-Skx9DKZxrYYYdJRMJqOyYASt3EEI="
              alt=""
            />
    
            <button type="button" class="btn d-flex align-center justify-content-center btn-outline-secondary">+</button>
    
    
    
    
          </div>
    
          <div class="product_price my-3   text-center">
            <button type="button" class="btn btn-outline-secondary p-1 my-2 ">Categories name</button>
            <h5>Product Name</h5>
            <h6 class="my-2">product Price :$500</h6>
            <ngb-rating  [max]="5"  />
            
         
          </div>
        </div>

    
                
    
        <div class="col-10 col-xxl-3 col-xl-3 col-md-5 product_data p-3">
          <div class="product_img">
            <img
              class="w-100"
              src="https://media.istockphoto.com/id/1436061606/photo/flying-colorful-womens-sneaker-isolated-on-white-background-fashionable-stylish-sports-shoe.jpg?b=1&s=612x612&w=0&k=20&c=0HNmSNlbRt-6S0-Skx9DKZxrYYYdJRMJqOyYASt3EEI="
              alt=""
            />
    
            <button type="button" class="btn d-flex align-center justify-content-center btn-outline-secondary">+</button>
    
    
    
    
          </div>
    
          <div class="product_price my-3   text-center">
            <button type="button" class="btn btn-outline-secondary p-1 my-2 ">Categories name</button>
            <h5>Product Name</h5>
            <h6 class="my-2">product Price :$500</h6>
            <ngb-rating  [max]="5"  />
            
         
          </div>
        </div>

    
    

                
    
        <div class="col-10 col-xxl-3 col-xl-3 col-md-5 product_data p-3">
          <div class="product_img">
            <img
              class="w-100"
              src="https://media.istockphoto.com/id/1436061606/photo/flying-colorful-womens-sneaker-isolated-on-white-background-fashionable-stylish-sports-shoe.jpg?b=1&s=612x612&w=0&k=20&c=0HNmSNlbRt-6S0-Skx9DKZxrYYYdJRMJqOyYASt3EEI="
              alt=""
            />
    
            <button type="button" class="btn d-flex align-center justify-content-center btn-outline-secondary">+</button>
    
    
    
    
          </div>
    
          <div class="product_price my-3   text-center">
            <button type="button" class="btn btn-outline-secondary p-1 my-2 ">Categories name</button>
            <h5>Product Name</h5>
            <h6 class="my-2">product Price :$500</h6>
            <ngb-rating  [max]="5"  />
            
         
          </div>
        </div>

    
    


                
    
        <div class="col-10 col-xxl-3 col-xl-3 col-md-5 product_data p-3">
          <div class="product_img">
            <img
              class="w-100"
              src="https://media.istockphoto.com/id/1436061606/photo/flying-colorful-womens-sneaker-isolated-on-white-background-fashionable-stylish-sports-shoe.jpg?b=1&s=612x612&w=0&k=20&c=0HNmSNlbRt-6S0-Skx9DKZxrYYYdJRMJqOyYASt3EEI="
              alt=""
            />
    
            <button type="button" class="btn d-flex align-center justify-content-center btn-outline-secondary">+</button>
    
    
    
    
          </div>
    
          <div class="product_price my-3   text-center">
            <button type="button" class="btn btn-outline-secondary p-1 my-2 ">Categories name</button>
            <h5>Product Name</h5>
            <h6 class="my-2">product Price :$500</h6>
            <ngb-rating  [max]="5"  />
            
         
          </div>
        </div>

    
    


                
    
        <div class="col-10 col-xxl-3 col-xl-3 col-md-5 product_data p-3">
          <div class="product_img">
            <img
              class="w-100"
              src="https://media.istockphoto.com/id/1436061606/photo/flying-colorful-womens-sneaker-isolated-on-white-background-fashionable-stylish-sports-shoe.jpg?b=1&s=612x612&w=0&k=20&c=0HNmSNlbRt-6S0-Skx9DKZxrYYYdJRMJqOyYASt3EEI="
              alt=""
            />
    
            <button type="button" class="btn d-flex align-center justify-content-center btn-outline-secondary">+</button>
    
    
    
    
          </div>
    
          <div class="product_price my-3   text-center">
            <button type="button" class="btn btn-outline-secondary p-1 my-2 ">Categories name</button>
            <h5>Product Name</h5>
            <h6 class="my-2">product Price :$500</h6>
            <ngb-rating  [max]="5"  />
            
         
          </div>
        </div>

    
    


                
    
        <div class="col-10 col-xxl-3 col-xl-3 col-md-5 product_data p-3">
          <div class="product_img">
            <img
              class="w-100"
              src="https://media.istockphoto.com/id/1436061606/photo/flying-colorful-womens-sneaker-isolated-on-white-background-fashionable-stylish-sports-shoe.jpg?b=1&s=612x612&w=0&k=20&c=0HNmSNlbRt-6S0-Skx9DKZxrYYYdJRMJqOyYASt3EEI="
              alt=""
            />
    
            <button type="button" class="btn d-flex align-center justify-content-center btn-outline-secondary">+</button>
    
    
    
    
          </div>
    
          <div class="product_price my-3   text-center">
            <button type="button" class="btn btn-outline-secondary p-1 my-2 ">Categories name</button>
            <h5>Product Name</h5>
            <h6 class="my-2">product Price :$500</h6>
            <ngb-rating  [max]="5"  />
            
         
          </div>
        </div>

    
    

        
    
        
    
    
    
      </div>
      
    </div>

    <div class="col-3 catogury my-3">


      <h6 class="pb-2 search_type d-flex justify-content-center ">
        Filters
      </h6>
      
      <div class="Categories_items my-3">


        
      <div class="type">
        
        <h6 class="pb-2 search_type d-flex justify-content-center">
          Categories
        </h6>
  
         
        
        <div class="item_name">
          <p>Fashion</p>
          <input type="checkbox">
        </div>

        <div class="item_name">
          <p>Fashion</p>
          <input type="checkbox">
        </div>

        <div class="item_name">
          <p>Fashion</p>
          <input type="checkbox">
        </div>

        <div class="item_name">
          <p>Fashion</p>
          <input type="checkbox">
        </div>


        <div class="item_name">
          <p>Fashion</p>
          <input type="checkbox">
        </div>


        <div class="item_name">
          <p>Fashion</p>
          <input type="checkbox">
        </div>

        <div class="item_name">
          <p>Fashion</p>
          <input type="checkbox">
        </div>
 
      </div>

      <div class="Rate" dir="ltr">
        
        <h6 class="pb-2 search_type  d-flex justify-content-center">
          Rate
        </h6>
  
        
        <div class="item_rate">
          <input type="radio" name="rate">
          <ngb-rating [max]="5" [rate]="5" [readonly]="true" />
        </div>

        <div class="item_rate">
          <input type="radio" name="rate">
          <ngb-rating [max]="5" [rate]="4" [readonly]="true" />
        </div>

        <div class="item_rate">
          <input type="radio" name="rate">
          <ngb-rating [max]="5" [rate]="3" [readonly]="true" />
        </div>

        <div class="item_rate">
          <input type="radio" name="rate">
          <ngb-rating [max]="5" [rate]="2" [readonly]="true" />
        </div>


        <div class="item_rate">
          <input type="radio" name="rate">
          <ngb-rating [max]="5" [rate]="1" [readonly]="true" />
        </div>


      </div>


    </div>


  </div>


</div>
